<div class="parallax5">
	<div class="logo">
		<center><%= image_tag "export/fit2_58.png" %></center>
	</div>
	<div class="sombra">
		<center>
			<form class="form-inline">
			  <div class="form-group">
			    <input type="text" class="form-control boxbuscar" placeholder="¿Qué buscas?">
			  </div>
			  <div class="form-group">
			    <input type="text" class="form-control boxbuscar" placeholder="Tu ubicación: Jr. Oscar Chocano 422, Surco">
			  </div>
  			<button id="miBoton" type="button" class="btn btn-default botonbuscar">Buscar</button>
			</form>
		</center>
		
	</div>
</div>
<center>
	<table border="0" cellpadding="0" cellspacing="0">
	<tbody>
	<tr>
		<td>
		<%= link_to current_page?('') do %>
			<%= image_tag('busqueda/people.png', :class => 'itemskill') %>
		<% end %>
		</td>
		<td>
		<%= link_to current_page?('') do %>
			<%= image_tag('busqueda/places.png', :class => 'itemskill') %>
		<% end %>
		</td>
	</tr>
	<tr>
		<td>
		<%= link_to current_page?('') do %>
			<%= image_tag('busqueda/food', :class => 'itemskill') %>
		<% end %>
		</td>
		<td>
		<%= link_to current_page?('') do %>
			<%= image_tag('busqueda/events.png', :class => 'itemskill') %>
		<% end %>
		</td>
	</tr>
</tbody></table>
</center>
