<div class="parallax5">
	<div class="logo">
		<center><%= image_tag "export/fit2_58.png" %></center>
	</div>
	<div class="sombra">
		<center>
			<%= form_tag(fitpartners_path, :method => "get", id: "search-form", class: 'form-inline') do %>
            <div class="form-group">
              <%= text_field_tag :search, params[:search], placeholder: "¿Que buscas?", :class => 'form-control boxbuscar' %>
            </div>
            <div class="form-group">
            <!--<%= text_field_tag :search, params[:search], placeholder: "Tu ubicación", :class => 'form-control boxbuscar' %>-->
            </div>
            <%= submit_tag "Buscar", class: "btn btn-default botonbuscar" %>
        <% end %>
		</center>
		
	</div>
</div>
<center>
	<table border="0" cellpadding="0" cellspacing="0">
	<tbody>
	<tr>
		<td>
		<%= link_to '/fitpartners?utf8=✓&search=people&commit=Buscar' do %>
			<%= image_tag('busqueda/people.png', :class => 'itemskill') %>
		<% end %>
		</td>
		<td>
		<%= link_to '/fitpartners?utf8=✓&search=places&commit=Buscar' do %>
			<%= image_tag('busqueda/places.png', :class => 'itemskill') %>
		<% end %>
		</td>
	</tr>
	<tr>
		<td>
		<%= link_to '/fitpartners?utf8=✓&search=food&commit=Buscar' do %>
			<%= image_tag('busqueda/food.png', :class => 'itemskill') %>
		<% end %>
		</td>
		<td>
		<%= link_to '/fitpartners?utf8=✓&search=events&commit=Buscar' do %>
			<%= image_tag('busqueda/events.png', :class => 'itemskill') %>
		<% end %>
		</td>
	</tr>
</tbody></table>
</center>
