<style type="text/css">
  .actualizarform{
    width: 50%;
  }
  .box{
      width: 100%;
    }
</style>
<center>
  <div class="actualizarform">
  <h2>Actualizar <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label 'Mi nombre y Apellido' %><br />
    <%= f.text_field :fullname, autofocus: true, class: 'box' %>
  </div>

  <div class="field">
    <%= f.label 'Mi correo' %><br />
    <%= f.email_field :email, class: 'box' %>
  </div>

  <div class="field">
    <%= f.radio_button :gender, 'femenino' %> <%= f.label :is_female, "Femenino" %>
    <%= f.radio_button :gender, 'masculino' %> <%= f.label :is_female, "Masculino" %>
  </div>

  <div class="field">
    <%= f.label 'País' %><br />
    <%= f.text_field :country, class: 'box' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off", class: 'box' %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label 'Confirmar password' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'box' %>
  </div>

  <div class="field">
    <%= f.label 'password actual' %> <i>(Necesitas poner tu password actual para actualizar)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", class: 'box' %>
  </div>

  <div class="actions">
    <%= f.submit "Update", :class => 'btn btn-success btn-lg btn-block' %>
  </div>
<% end %>

<h3>Cancelar mi cuenta</h3>

<p>¿No me gusta? <%= button_to "Cancelar mi Cuenta", registration_path(resource_name), data: { confirm: "Estas seguro?" }, method: :delete, :class => 'btn btn-danger btn-lg btn-block' %></p>

</div>
</center>

