<div class="row">
  <div class="col-xs-12 col-md-8 caja">
  
  <div class="page-header">
      <%= link_to fitpartners_path, class: 'btn btn-default' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Back
      <% end %>
  </div>

<div class="media">

  <div class="media-left media-middle">
    <%= image_tag(@fitpartner.image.url, :style => 'width: 100px; height: 100px;', :class => 'img-circle')%>
  </div>
  <div class="media-body">
    <h4 class="media-heading textcaja"><strong><%= @fitpartner.namefit %></strong><br>
    <%= @fitpartner.especialidad %>
    S/. <%= @fitpartner.costo %>
    por <%= @fitpartner.tipo_costo %><br>
    <%= @fitpartner.address %><br><br>
    <span class="label label-info">A 3.2 KM de ti</span>
  </div> 
</div>
<div class="media">
  <div class="datos">
    <a href=""><%= image_tag("detalle/fit2_03.png", :class => 'iconodatos')%></a>
    <a href=""><%= image_tag("detalle/fit2_05.png", :class => 'iconodatos')%></a>
    <a href=""><%= image_tag("detalle/fit2_08.png", :class => 'iconodatos')%></a>
  </div>
</div>
<hr>
<center>
<div class="redes">
  <p><a href=""> <i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a><a href=""> <i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a> <a href=""><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></p>
</div>
</center>
<hr>

<div class="row">
  <div class="col-xs-6 col-md-4">
    <%= image_tag("detalle/fit2_18.png", :class => 'icono')%> Horario Disponible
  </div>
  <div class="col-xs-12 col-md-8">
    <%= @fitpartner.disponibilidad %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-6 col-md-4">
    <%= image_tag("detalle/fit2_22.png", :class => 'icono')%> Sobre el Fitpartner
  </div>
  <div class="col-xs-12 col-md-8">
    <%= @fitpartner.descripcion %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-6 col-md-4">
    <%= image_tag("detalle/fit2_26.png", :class => 'icono')%> Rating
  </div>
  <div class="col-xs-12 col-md-8">
    <%= image_tag("detalle/fit2_26.png", :class => 'iconotrueno')%><%= image_tag("detalle/fit2_26.png", :class => 'iconotrueno')%><%= image_tag("detalle/fit2_26.png", :class => 'iconotrueno')%>
  </div>
</div>
<div class="row">
  
  <div class="col-xs-12 col-md-12 " style="padding-top: 101px;">

<%= form_for Friendship.new do |f| %>
  <% if @friendship == 0 && @fitpartner.id != current_user.id  %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :fitpartner_id, :value => @fitpartner.id %>
    <%= f.submit 'Coordina con tu Fitpartner', class: "btn btn-success btn-block btn-lg" %>
  <% else %>
    <%= f.submit 'Coordina con tu Fitpartner', class: "btn btn-danger btn-block btn-lg disabled" %>
  <% end %>
  </div>
<% end %>
</div>
  </div>
  <div class="col-xs-6 col-md-4">
    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x700&sensor=false&zoom=16&markers=#{@fitpartner.latitude}%2C#{@fitpartner.longitude}" %>
  </div>
</div>
</div>