<div class="amigos">
	<h2>Mis Fitpartners</h2>
		<% @friendships.each do |friendship| %>

			<%= link_to friendships_path, style: "color: black;text-decoration: none;" do %>
			    <div class="media" style="padding-left: 15%;">
			  <div class="media-left media-middle">
			    <%= image_tag("lista/fit2_09.png", :style => 'width: 100px; height: 100px;', :class => 'img-circle')%>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading textcaja"><strong>Daniela </strong>
			    <span class="itemespecialidad"><%= friendship.fitpartner_id %></span> 
			    <span class="itemcosto">S/. <%= friendship.fitpartner_id %></span>
			    <span class="itemtipocosto">por <%= friendship.fitpartner_id %></span>
			    <br>
			    <div class="itemaddress"><%= friendship.user_id %></div>
			    <div class="opiniones"><%= rand(10) %> Opiniones</div>
			    <div class="rating">
			    <%= image_tag("detalle/fit2_26.png", :class => 'iconotruenodetalle')%>
			    <%= image_tag("detalle/fit2_26.png", :class => 'iconotruenodetalle')%>
			    <%= image_tag("detalle/fit2_26.png", :class => 'iconotruenodetalle')%>
			    <%= image_tag("detalle/fit2_26.png", :class => 'iconotruenodetalle')%>
			    </div>
			  </div> 
			    </div> 
			  <% end %>
    		<hr class="lineafor">
		<% end %>
</div>